/* font-awesome link */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

/* cutom font link */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {

    /* light mode */
    --light-background: #d7e1d6;
    --light-primary: #b3ddc1;
    --light-text: #071603;
    --light-secondary: #2b2927;
    --light-accent: #d5bba4;
    --light-box-shadow: rgba(183, 119, 67, 0.5);
    --light-header: #b54a02;
    --light-background-top: #f7deba;

    /* dark mode */
    --dark-background: #1f291e;
    --dark-primary: #50664d;
    --dark-text: #edfce9;
    --dark-secondary: #d8d6d4;
    --dark-accent: #5b412a;
    /* --dark-box-shadow: */
}

body {
    background: linear-gradient(45deg, #fcb95a 20%, #f9e2c2 90%);
    /* background-image: url('images/brown_background.png'); */
    background-size: cover;
}

* {
    font-family: "Google Sans", serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

html {
    font-size: 55.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

::webkit-scrollbar {
    width: 1rem;
}

::webkit-scrollbar-track {
    background: transparent;
}

::webkit-scrollbar-thumb {
    background: var(--light-secondary);
}

section {
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* FOR THE DOWNLOAD RESUME BUTTON */
.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255, 0.5);
    color: var(--light-text);
    border-radius: 3rem;
    border: 0.8px solid #fff;
    box-shadow: 0 0 0.5rem #fff;
    transition: .2s linear;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: 0%;
    border-radius: 5rem;
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 90%, rgba(238, 137, 5, 0.2) 105%, rgba(255, 255, 255, 0.2) 108%);
    z-index: -1;
    transition: .2s ease;
}

.btn:hover {
    box-shadow: 0px 0px 15px #fff;
    background-color: linear-gradient(180deg, rgba(112, 42, 42), rgba(238, 5, 5));
}

.btn:hover::before {
    left: 0%;
    width: 100%
}

/* HEADER STYLING */
.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    /* background: linear-gradient(45deg, rgb(255, 255, 255), rgba(249, 226, 194, 1)); */
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 2rem;
    color: var(--light-secondary);
}

/* styling for the briefcase icon */
.header .flex .logo i{
    margin-right: .8rem;
    color: #f29019;
    /* text-shadow: var(--light-box-shadow) */
}

/*This part affecting the color */
.header .flex .navbar a {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: var(--light-text);
    padding: 2rem;
}

/* Affects each of the links in the navbar class when the mouse hovers over it */
.header .flex .navbar a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #fcb95a;
    cursor: pointer;
}

#menu-btn {
    font-size: 2rem;
    color: var(--light-accent);
    display: none;
}

#menu-btn:hover {
    cursor: pointer;
}

#close-btn {
    position: absolute;
    top: 2rem; right: 2rem;
    color: var(--light-accent);
    font-size: 2rem;
    display: none;
}

#close-btn:hover {
    cursor: pointer;
}

/* HOME SECTION BEGINS HERE */
.home {
    background-image: linear-gradient(45deg, rgba(252, 185, 90, 0.5), rgba(249, 226, 194, 0.9)), url('../images/laptop_3.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    z-index: -5;
}

.home .home-background {
    background-image: linear-gradient(45deg, rgba(252, 185, 90, 0.5), rgba(249, 226, 194, 0.9)), url('../images/laptop_3.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    filter: blur(5px);
    z-index: -5;
}

.home .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .flex .image {
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .flex .image img {
    width: 50%;
    top: -50px;
    position: relative;
}

.home .flex .content {
    position: relative;
    flex: 1 1 40rem;
    top: 50px;
    /*background: linear-gradient(0deg, rgba(240, 255, 239, 0.2), rgba(240, 255, 239, 0.9));
    backdrop-filter: blur(2px);*/
    padding: 1rem 1rem;
    border-radius: 2rem;
    margin-bottom: 10rem;
    margin-top: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
    text-shadow: 1px 1px 2px #ffe3b9;
    opacity: 1;
}

/* The bubble that says "Hello My Name Is" */
.home .flex .content span {
    font-size: 1.5rem;
    color: var(--light-secondary);
    background: var(--light-primary);
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    box-shadow: 0px 0px 4px var(--light-primary);
}

.home .flex .content h1 {
    font-size: 6rem;
    margin: 1rem 0;
    color: var(--light-text);
    text-align: center;
    text-shadow: 2px 2px 5px #736242;
}

.home .flex .content h1 em {
    color: var(--light-text);
    text-shadow: var(--light-box-shadow);
    text-align: center;
}

.home .flex .content h3 {
    color: var(--light-text);
    font-size: 2rem; 
}

.home .flex .content p {
    color: #000000;
    font-size: 1.9rem;
    line-height: 1.6;
    margin: 1rem 0;
    text-align: center;
}

.home .bottom-image {
    position: relative;
    bottom: -0.7rem; left: 0; right: 0;
    z-index: 5;
}

.home .bottom-image img {
    width: 100%;
}

.home .flex .content .button-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
}

/* BEGINNING OF SKILLS SECTION */
.skills {
    background: linear-gradient(180deg, #df9c4e 20%, #fa801d 90%);
}

/* icon sizes */
.skills .box-container .box img {
    width: 50%;
    transition: .2s linear;
}

.skills .heading {
    padding-top: 6rem;
}

/* My Skills Button */
.skills .heading span {
    background-size: cover;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 4px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.7) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.7) 85%);
    transition: .4s ease;
    opacity: 1;
    position: relative;
    z-index: 0;
}

.skills .heading span::before {
    background-size: cover;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 4px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.7) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.7) 85%);
    transition: .4s ease;
    position: relative;
    opacity: 1;
    z-index: 0;
}
.skills .heading span:hover  {
    box-shadow: 0px 0px 10px #fff;
    /* background-color: linear-gradient(40deg, rgba(255, 255, 255, 0.7) 70%, rgba(0, 152, 246, 0.7) 75%, rgba(255, 255, 255, 0.7) 80%); */
    /*filter: saturate(200%) hue-rotate(10deg); */
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.9) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.9) 85%);
}

.skills .heading h3 {
    color: var(--light-background);
}

.skills .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.skills .box-container .box {
    text-align: center;
    position: relative;
    z-index: 0;
    transition: 0.2s ease;
}

.skills .box-container .box::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 15rem;
    z-index: -1;
}
    

.skills .box-container .box:hover img {
    transform: translateY(-1rem);
    filter: drop-shadow(0px 0px 5px #fff0a4);
}

.skills .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    bottom: 5px;
    text-align: center;
    justify-content: center;
}

.skills .box-container .box {
    font-size: 1.6rem;
    color: var(--light-text);
    line-height: 1.8rem;
}

.skills .box-container .box img {
    justify-content: end;
}

.skills .box-container .box i{
    color: #fff;
}

/* skills heading style */
.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.skills .heading p {
    color: var(--light-background);
    font-size: 1.8rem;
    line-height: 1.9;
    margin: 1rem 0;
    padding: 1rem 1rem;
}

.heading span{
    padding: .5rem 1.5rem;
    background-color: var(--light-accent);
    color: var(--light-text);
    border-radius: 5rem;
    font-size: 1.8rem;
}

.heading h3 {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--light-text);

}

/* ABOUT SECTION BEGINS */
.background-container {
    background-image: linear-gradient(45deg, rgba(250, 128, 29, 0.7), rgba(249, 226, 194, 0.9)), url('../images/about_background_4.jpg');
    background-size: cover;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.about .row .about-pictures {
    align-items: center;
    justify-content: center;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content .heading {
    margin-bottom: 1rem;
}

.about .row .content .heading span {
    padding: 1rem 2rem;
    bottom: 3rem;
    box-shadow: 0px 0px 4px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.7) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.7) 85%);
    transition: .4s ease;
    opacity: 1;
    position: relative;
    z-index: 0;
}

.about .row .content .heading span:hover {
    box-shadow: 0px 0px 10px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.9) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.9) 85%);
}

.about .row .content .description {
    line-height: 1.8;
    text-align: center;
    color: var(--light-text);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

/* MY EXPERIMENT */
.about .row .content .info {
    margin: 1rem 0;
    line-height: 1.6;
    text-align: left;
    color: var(--light-text);
    font-size: 1.4rem;
}

.about .row .content .info .flex {
    white-space: pre-line;
}

.about .row .content .info h3 {
    font-size: 2rem;
    /*
    color: var(--light-text);
    background: var(--light-accent);
    padding: 1rem 2rem;
    border-radius: 5rem;
    */
    padding-top: 2rem;
    display: inline-block;
}

.background-container .about .row .content .info .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
}

.about .row .content .info .flex p {
    color: var(--light-text);
    font-size: 1.6rem;
    flex: 1 1 20rem;
}

.about .row .content .info .flex span {
    background-color: var(--light-background);
    border-radius: 5rem;
    padding: 0.2rem 0.7rem;
}

.about-top-image {
    width: 100%;
}

.about .row .about-pictures {
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .row .about-pictures .column-pictures {
    display: flex;
    flex-direction: column;
}

.about .row .about-pictures .column-pictures img {
    height: 20%;
    width: 100%;
    margin-top: 5rem;
    margin-left: -5rem;
    margin-bottom: -5rem;
    transform: rotate(10deg) scale(0.5);
}

.about .row .about-pictures .column-pictures img:hover {
    transform: rotate(-20deg)scale(0.7);
}



.about .row .about-pictures img {
    flex: 1 1 40rem;
    width: 35%;
    height: 35%;
    align-items: center;
    justify-content: center;
}

.about .row .about-pictures img:hover {
    transform: scale(1.2) rotate(20deg);
}

.white-divider img {
    width: 100%;
    height: 5px;
    position: relative;
    top: 3px;
}

/* ABOUT SECTION ENDS */

/* PROJECT SECTION BEGINS */

.projects-bg {
    background: linear-gradient(45deg, #f2870c, #ffd45d, #ff952b, #c15d00);
    background-size: cover;
}

/* specifically the cards */

.projects .heading span {
    padding: 1rem 2rem;
    top: 40px;
    box-shadow: 0px 0px 4px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.8) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 0.8) 85%);
    transition: .4s ease;
    opacity: 1;
    position: relative;
    z-index: 0;
}

.projects .heading span:hover {
    box-shadow: 0px 0px 10px #fff;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 60%, rgb(236, 211, 173) 75%, rgba(255, 255, 255, 1) 85%);
}

.card {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 1rem #fff;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}


.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-content h2 {
    margin-top: 1.5rem;

}

.card-content p {
    margin-top: 1.5rem;
    text-align: center;
}

.image-content {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    row-gap: 5px;
}

/* .projects .p-container .slide-container .slide-content .card-wrapper .card .image-content .overlay */

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, rgba(255, 123, 0, 1) 25%, rgb(255, 193, 100) 45%, rgb(255, 154, 82) 55%, rgb(255, 209, 93) 85%);;
    /* background: var(--light-primary); */
    border-radius: 25px 25px 25px 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-image: url('images/smaller_portfolio_background');
    background-size: cover;
    /* background-color: var(--light-primary); */
}

/*
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: var(--light-secondary);
}
*/

.slide-container {
    max-width: 1120px;
    width: 100%;
}


.slide-content {
    margin: 0 40px;
}

.projects .p-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    /* background-color: var(--light-background); */
}

.projects .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--light-secoondary);
    padding: 3rem;
}

.projects .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    transition: 0.4s ease;
}

.projects .card-image .card-img:hover {
    box-shadow: 0px 0px 15px #fff;
}

.projects .card-image .card-img img{
    height: 50px;
    width: 50px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: var(--light-text);
}

.card-content .description {
    font-size: 14px;
    color: var(--light-text);
}

.button {
    border: none;
    font-size: 16px;
    color: var(--light-text);
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin: 1.5rem;
    cursor: pointer;
}

.button:hover {
    transition: .2s linear;
}

.bot-button {
    border: none;
    font-size: 16px;
    color: var(--light-text);
    padding: 1rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.bot-button:hover {
    border: none;
    font-size: 16px;
    background: #fdf1ce;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin: 0.1rem;
    cursor: pointer;
}

.portfolio-button {
    border: none;
    font-size: 16px;
    color: var(--light-text);
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin-top: 6.2rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.portfolio-button:hover {
    border: none;
    font-size: 16px;
    background: #fdf1ce;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin-top: 6.3rem;
    cursor: pointer;
}

/* FOOTER SECTION */
.footer {
    background: var(--light-secondary);
}

.footer .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .flex .final-line {
    font-size: 13px;
    color: #fff;
    display: flex;
    flex: wrap;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.footer .flex .final-line .btn {
    left: 2rem;
    right: 0rem;
    font-size: 13px;
}

.footer .flex .share {
    font-size: 20px;
    color: #fff;
}

.footer .flex .share a {
    color: #fff;
}









/* media queries */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}

@media only screen and (max-width: 767px){
    
    #menu-btn {
        display: inline-block;
        color: var(--light-secondary);
    }

    #close-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: fixed;
        top: 0; bottom: 0; right: -120%;
        /* width: 30rem; */
        width: 40vw;
        height: 100vh;
        background: var(--light-secondary);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        box-shadow: 0 0 0 calc(100vw - 30rem) rgb(0, 0, 0, 0.5);
        transition: .2s linear;
    }

    .header .flex .navbar.active {
        right: 0;
    }

    .header .flex .navbar a {
        font-size: 1.8rem;
        margin-left: 1rem;
        color: #fff;
        padding: 2rem;
    }

    .header .flex .navbar a:hover {
        font-size: 1.75rem;
        margin-left: 1rem;
        color: var(--light-background);
        padding: 2rem;
    }

}